h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
}

h2 {
  color: #fff;
}

body {
  background-color: #252525;
}

form.well {
  background-color: #212121;
  border: none;
  padding: 30px;
}

form.well label {
  color: #fff;
}

.form-control {
  background-color: #252525;
  color: #fff;
}

.btn-default {
  background-color: #5d87e5;
  color: #fff;
}